<?xml version="1.0" encoding="UTF-8"?>
<!-- 	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
		"http://www.springframework.org/dtd/spring-beans.dtd"> -->
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
   default-autowire="byName" >
	
	<!--定义数据源  -->
	<bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/OAsys"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean name="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!--1  -->
		<property name="dataSource" ref="dataSource"></property>
		<!--2  -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>			
				<prop key="hibernate.show_sql">true</prop>			
				<prop key="hibernate.format_sql">false</prop>			
				<prop key="hibernate.hbm2ddl.auto">update</prop>			
			</props>
		</property>
		<!--3  -->
		<property name="mappingResources">
			<list>
				<value>com/oa/Entity/Mapping/Attendance_Management.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Employee_Login_Message.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Employee_Message.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Employee_Punchcard_Message.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Employee_Punchcard_Message_State.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Employee_Sector.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Employee_Type.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Employee_Workreport_Day.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Financial_Statements.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Financial_Workreport_Event.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Financial_Workreport.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Manager_Workreport_Day.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Manager_Workreport_Month.hbm.xml</value>
				<value>com/oa/Entity/Mapping/Workreport_State.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 公用 -->		
	<bean name="userDao" class="com.oa.Dao.UserDao" />
	<bean name="userBiz" class="com.oa.Biz.UserBiz" />
	<bean name="userAct" class="com.oa.Action.UserAction" />
	
	<!-- 财务 -->
	<bean name="financialAct" class="com.oa.Action.FinancialAction"></bean>
	<bean name="financialBiz" class="com.oa.Biz.FinancialBiz"></bean>
	<bean name="financialDao" class="com.oa.Dao.FinancialDao"></bean>
	
	<!--Manager  -->
	<bean name="managerDao" class="com.oa.Dao.ManagerDao"/>
	<bean name="managerBiz" class="com.oa.Biz.ManagerBiz"/>
	<bean name="managerAct" class="com.oa.Action.ManagerAction"/>
	
	<!--boss  -->
	<bean name="bossDao" class="com.oa.Dao.BossDao"/>
	<bean name="bossBiz" class="com.oa.Biz.BossBiz"/>
	<bean name="bossAct" class="com.oa.Action.BossAction"/>
</beans>